{extend name="../../../wstmart/admin/view/base" /}
{block name="js"}
<script src="__ROOT__/addons/bargain/view/admin/users.js?v={$v}" type="text/javascript"></script>
{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<input type='hidden' id='bargainId' value='{$bargainId}'/>
<div class="wst-toolbar">
	参与人：<input type="text" name="key"  placeholder='参与人账号/名称' id="key" class='j-ipt'/>
	<button class="btn btn-blue" onclick='javascript:loadGrid(0)'>查询</button>
	<div style='clear:both'></div>
</div>
<div id="maingrid"></div>
{/block}